@import "./variables.scss";

.input-field {
  display: block;
  justify-content: center;
  margin: 20px 0 20px 0;

  label {
    display: block;
    font-size: 120%;
  }

  input {
    display: block;
    font-size: 120%;
    width: 80%;
  }
}

.submit {
  font-size: 150%;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 0;
  background-color: $orange;
}