.landing-page {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 25px;
  justify-content: center;

  .main-card {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;

    @media screen and (max-width: 1075px) {
      flex-direction: column-reverse;
      margin: 0;
      border-radius: 0;
    }

    @media screen and (max-width: 830px) {
      flex-direction: row;
    }

    @media screen and (max-width: 725px) {
      flex-direction: column-reverse;
      margin: 0;
      border-radius: 0;
    }
  }

  .main-card-img {
    display: flex;
    margin: auto;
    justify-content: center;
    content: url("./imgs/landingPageImg.png");

    @media screen and (max-width: 830px) {
      content: url("./imgs/landingPageImgVertical.png");
    }
  }

  .items-storage {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 250px;

    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
      min-height: 250px;
    }

    @media screen and (max-width: 550px) {
      grid-template-columns: 1fr;
    }

    .item {
      text-align: center;

      .firebase-img {
        margin: auto;
        content: url("./imgs/firebase-img.png");
        justify-content: center;
        display: flex;
      }

      .react-img {
        margin: auto;
        content: url("./imgs/react-img.png");
        justify-content: center;
        display: flex;
      }

      .redux-img {
        margin: auto;
        content: url("./imgs/redux-img.png");
        justify-content: center;
        display: flex;
      }
    }
  }
}