@import "variables";

.container {
  grid-column: 2/12;
  grid-row: 2/3;

  @media screen and (max-width: 1300px) {
    grid-column: 1/13;
  }
}

.card {
  background-color: $white;
  padding: 50px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  margin: 20px;

  .title {
    text-align: center;
  }
}

.text-white {
  text-align: center;
  color: $white;
}

.button {
  font-size: 150%;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 0;
  background-color: $orange;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
