.input-field {
  display: block;
  justify-content: center;
  margin: 20px 0 20px 0;
}
.input-field label {
  display: block;
  font-size: 120%;
}
.input-field input {
  display: block;
  font-size: 120%;
  width: 80%;
}

.submit {
  font-size: 150%;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 0;
  background-color: #ff9c2a;
}

nav {
  background-color: #ff9c2a;
  max-height: 80px;
  grid-column: 1/13;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 150px auto 50px;
}
nav .burger-nav {
  display: none;
}
@media screen and (max-width: 550px) {
  nav .burger-nav {
    display: block;
    height: 40px;
    width: 40px;
    grid-column: 3/4;
    cursor: pointer;
    content: url("./imgs/burger-nav.png");
    background: no-repeat 90% center;
  }
}
nav .dropdown-menu {
  position: absolute;
  top: 80px;
  right: 50px;
  background-color: #ff9c2a;
}
nav .logo {
  height: 100px;
  font-size: 3em;
  grid-column: 1/2;
  padding: 0;
  display: grid;
  text-align: center;
  content: url("./imgs/logo.png");
}
nav ul {
  margin: 0;
  padding: 20px 0px 0px 0px;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}
nav ul li {
  align-self: center;
  list-style-type: none;
  margin: 0px 10px 0px 10px;
  padding: 0;
  height: 100%;
  font-size: 2em;
}
@media screen and (max-width: 550px) {
  nav ul li {
    font-size: 1.5em;
    display: block;
  }
}
nav ul li a {
  display: block;
  text-align: center;
}
nav a {
  color: #242424;
  text-decoration: #f5f5f5;
}

.container {
  grid-column: 2/12;
  grid-row: 2/3;
}
@media screen and (max-width: 1300px) {
  .container {
    grid-column: 1/13;
  }
}

.card {
  background-color: #f5f5f5;
  padding: 50px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  margin: 20px;
  border-radius: 10px;
}
@media screen and (max-width: 600px) {
  .card {
    padding: 20px 0px 20px 0px;
  }
}
.card .title {
  text-align: center;
}

.text-white {
  text-align: center;
  color: #f5f5f5;
}

.button {
  font-size: 150%;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 0;
  background-color: #ff9c2a;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.landing-page {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 25px;
  justify-content: center;
}
.landing-page .main-card {
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
}
@media screen and (max-width: 1075px) {
  .landing-page .main-card {
    flex-direction: column-reverse;
    margin: 0;
    border-radius: 0;
  }
}
@media screen and (max-width: 830px) {
  .landing-page .main-card {
    flex-direction: row;
  }
}
@media screen and (max-width: 725px) {
  .landing-page .main-card {
    flex-direction: column-reverse;
    margin: 0;
    border-radius: 0;
  }
}
.landing-page .main-card-img {
  display: flex;
  margin: auto;
  justify-content: center;
  content: url("./imgs/landingPageImg.png");
}
@media screen and (max-width: 830px) {
  .landing-page .main-card-img {
    content: url("./imgs/landingPageImgVertical.png");
  }
}
.landing-page .items-storage {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 250px;
}
@media screen and (max-width: 1100px) {
  .landing-page .items-storage {
    grid-template-columns: 1fr 1fr;
    min-height: 250px;
  }
}
@media screen and (max-width: 550px) {
  .landing-page .items-storage {
    grid-template-columns: 1fr;
  }
}
.landing-page .items-storage .item {
  text-align: center;
}
.landing-page .items-storage .item .firebase-img {
  margin: auto;
  content: url("./imgs/firebase-img.png");
  justify-content: center;
  display: flex;
}
.landing-page .items-storage .item .react-img {
  margin: auto;
  content: url("./imgs/react-img.png");
  justify-content: center;
  display: flex;
}
.landing-page .items-storage .item .redux-img {
  margin: auto;
  content: url("./imgs/redux-img.png");
  justify-content: center;
  display: flex;
}

.chat-container {
  margin: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  grid-column: 1/13;
  grid-row: 2/4;
  display: grid;
  height: 80vh;
}
.chat-container .message-box {
  display: flex;
  flex-direction: column;
}
.chat-container .message-box .card {
  max-width: 50%;
}
.chat-container .message-box .left {
  float: left;
}
.chat-container .message-box .right {
  float: right;
}
.chat-container .sidebar-container {
  margin: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  display: grid;
  grid-row: 1/3;
  max-width: 150px;
}
.chat-container .sidebar-container .contacts-box {
  max-width: 150px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  height: 80%;
}
.chat-container .sidebar-container .contacts-box .button-group {
  display: flex;
}
.chat-container .sidebar-container .contacts-box .button-group .button {
  margin: 0;
  width: 75%;
}
.chat-container .sidebar-container .contacts-box .button-group .small {
  width: 25%;
}
.chat-container .message-container {
  display: grid;
  grid-column: 2/13;
  grid-row: 1/3;
  grid-template-rows: calc(100% - 85px) 85px;
  align-items: end;
}
.chat-container .message-container .input-box {
  background-color: #f5f5f5;
  width: 100%;
  height: 85px;
}
.chat-container .message-container .input-box .input-field {
  margin: 10px;
  display: grid;
  grid-template-columns: 8fr 2fr;
}
.chat-container .message-container .input-box .input-field textarea {
  resize: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #242424;
}

#app {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px calc(100% - 180px) 100px !important;
  grid-gap: 25px;
}

/*# sourceMappingURL=main.css.map */
